body{
  background: lightgray;
}

input{
  margin-left: 1vw;
  width: 60%;
}

form{
  width: 100%;
}

.row{
  display: flex;
  margin: 0;
}

.column{
  flex: 25%;
}

.text-black{
  color: black;
}

.app-div{
  margin: 5px;
}

.font-2{
  font-size: 2vw;
}

.font-3-5{
  font-size: 3.5vw;

}

.center-text{
 text-align: center;
}

.bold-text{
  font-weight: bold;
}

.form-hr{
  border: .2vw black solid;
  width: 80%;
}

.btn-small{
  width: 10vw;
  height: 4vw;
  margin-left: .5rem;
  margin-bottom: 1rem;
  padding: 0px;
  font-size: 2.5vw;
  color: black;
}

.btn-small:hover{
  color: lightgreen;
}

.default-images{
  margin: 10px;
  padding: 5px;
}

.img{
  width: 100%;
}

.food-img{
  height: 400px;
  width: 400px;
}

.foodcard-border{
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  height: 100%;
  text-align: center;
}

.food-ul{
  list-style-type: none;
}

.table-div{
  overflow-x: auto;
}
